header
{
    height: 100vh;
    background-image: url('../img/acercaCover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header .eslogan
{
    margin-top: 30vh;
    margin-left: 15vh;
}

.row
{
    margin-top: 50px;
    margin-bottom: 50px;
}

.row:first-of-type
{
    margin-top: 0;
}

h3
{
    text-align: center;
}