nav.navbar {
    background: #023047;
    a.btn {
        color: white;
        background: #fb8500;
        margin-left: 10px;
    }

    @media (min-width: 768px) {
        a.active {
            border-bottom: #fb8500 1px solid;
        }
    }
    @media (max-width: 768px) {
        li {
            text-align: center;
        }
        a.btn {
            display: block;
        }
    }
}
