header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(71, 49, 2, 0.5)), to(rgba(2, 55, 71, 0.7))), url("../img/equipo.jpg");
  background-image: linear-gradient(rgba(71, 49, 2, 0.5), rgba(2, 55, 71, 0.7)), url("../img/equipo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}

header .eslogan {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 50%;
}

.eslogan h1 {
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
}

.eslogan p {
  margin: 20px 0 30px 0;
  width: 60%;
}

@media (max-width: 600px) {
  header .eslogan {
    top: 5%;
    width: 75%;
  }
  header .eslogan h1 {
    line-height: 50px;
    font-size: 40px;
  }
}

.row {
  margin-top: 50px;
  margin-bottom: 50px;
}

.row:first-of-type {
  margin-top: 0;
}

.row:last-of-type
{
    margin-bottom: 0;
}

h3 {
  text-align: center;
  font-weight: bold;
}

.card {
  border: none;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card-body h4 {
  font-weight: bold;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: white;
  opacity: 0;
  color: #023047;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.card-body:hover {
  opacity: 0.75;
}