// COLORES
$midBlue: #219ebc;
$midDarkBlue: #126782;

#promocion {
    .text {
        h2 {
            color: $midBlue;
        }
    }
    .btn {
        background: $midBlue;
        transition: all 0.15s ease;
        font-weight: bold;
        &:hover {
            background: $midDarkBlue;
            color: white
        }
    }
}

#actualidad {
    h2 {
        margin: 1em;
    }
}
